<h2>Now have <%= post.comments.count %> comment</h2>
<hr>
<% post.comments.each do |comment|%>
  <p><strong><%= comment.name %></strong> <em>Create <%= time_ago_in_words(comment.created_at) %> ago</em></p>
  <% if user_signed_in? %>
  <p class="pull-right"><%= link_to 'Trash comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?'} %>
    <!-- 應該不能放Trash comment，沒有設定user擁有commnt，變成大家都能刪除。 --></p>
  <% end %>  
  <p><%= comment.body %></p>
  
  <br>
  <hr>
<% end %>