<% if post.errors.any? %>
  <ul>
    <% post.errors.full_messages.each do |mas| %>
      <li><%= mas %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %><br />
  </p>
  
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :image %>
    <%= image_tag @post.image, width: '300px' if @post.image? %>
    <%= f.file_field :image %>
  </p>

  <%= f.submit %>
<% end %>

