<div class="container">
  <div class="row">

    <div class="col-md-7">

      <div class="panel panel-default">
        
        <div class="panel-heading">
          <%= image_tag @post.image, class:'img-responsive' %>
        </div>
        <div class="panel-body">
          <h1><%= @post.title %></h1>
          <p><%= @post.body %></p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              Submit <%= time_ago_in_words(@post.created_at) %> ago 
            </div>
            <div class="col-md-6">
              <div class="btn-group pull-right">
                <% if user_signed_in? %>  
                  <%= link_to 'Fix Post', edit_post_path(@post), class: 'btn btn-default' %> 
                  <%= link_to 'Trash it', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
          </div>
          
          
        </div>

      </div>

    </div>

    <div class="col-md-5">

      <div class="comment-content">
        <%= render partial: 'comments/comment', locals: { post: @post} %>
      </div>

      <br>

      <div class="comments">
        <h3>Join Discussion: </h3>
        <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
      </div>

    </div>

  </div>
</div>

