<div class="container">
  <div class="row">

    <div class="col-md-7">
      <h1 class="title">
        <%= @post.title %>
      </h1>

      <p class="date">
        Submit<%= time_ago_in_words(@post.created_at) %>ago 
        <% if user_signed_in? %>  
        <%= link_to 'Fix Post', edit_post_path(@post) %> |
          <%= link_to 'Trash it', post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>
      </p>

      <p class="body">
        <%= image_tag @post.image, width: '600px' %><br><br>
        <%= @post.body %>
      </p>
    </div>

    <div class="col-md-5">

      <div class="comment-content">
        <%= render partial: 'comments/comment', locals: { post: @post} %>
      </div>

      <br>

      <div class="comments">
        <h3>Join Discussion: </h3>
        <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
      </div>

    </div>

  </div>
</div>

