<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-3"> 
      <%= link_to 'Tumblr', posts_path %> |
      <%= link_to 'About Us', about_path %>
    </div>
    <div class="col-md-9">
      <% if user_signed_in? %>
      <%= link_to 'New post', new_post_path %>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
